```java
class narendra{
public static void main(String args[])
    {
      int a=15,b=10,temp;
    temp=a;
    a=b;
    b=temp;
    }
}
```

```python
a,b=b,a
```

In [3]:
x,y=10,20
x,y=y,x
print(x," ",y)

20   10

In [4]:
x=10

In [6]:
print(x)
print(type(x))

10
<class 'int'>

In [7]:
x=7.5

In [9]:
print(x)

7.5

In [11]:
print(type(x))

<class 'float'>

In [14]:
a="Narendra"

In [18]:
a='Narendra'

In [22]:
print(a)

Narendra

In [24]:
x='''
abc
xyz
'''

In [25]:
print(x)

abc
xyz

In [28]:
type(True)

bool

In [29]:
type(False)

bool

In [39]:
#hello

'''
sdsbjbsdkjb
dhjjdbvckdsbvkd
'''

'\nsdsbjbsdkjb\ndhjjdbvckdsbvkd\n'

In [33]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [35]:
def main2():
    print("HEllo")

In [36]:
main2()

HEllo

In [38]:
print(__name__)

__main__

# hello

# Inbulit Data Structure

In [45]:
list1=[1,2,3,"abc",3.5]
type(list1)

list

In [55]:
for e,i in enumerate(list1):
    print(e,':',i)

0 : 1
1 : 2
2 : 3
3 : abc
4 : 3.5

In [56]:
for e,i in enumerate(list1,7):
    print(e,':',i)         #data unpacking

7 : 1
8 : 2
9 : 3
10 : abc
11 : 3.5

In [50]:
len(list1)

5

# Set

In [58]:
a=[1,2,1,2,4,5,1,9,7,8,9]

In [59]:
set(a)

{1, 2, 4, 5, 7, 8, 9}

In [60]:
{1,2,4,3,5,6,9,5}

{1, 2, 3, 4, 5, 6, 9}

In [66]:
d={
  "name":"narendra",
    "age":20,
    "Country":"India"      #json format
}
type(d)

dict

In [65]:
d.keys()

dict_keys(['name', 'age', 'Country'])

In [67]:
d.values()

dict_values(['narendra', 20, 'India'])

In [69]:
#for loop for Dictionary
for key,value in d.items():
    print(key,"=",value)

name = narendra
age = 20
Country = India

In [74]:
#for loop for Dictionary
for key,value in d.items():
    print("{} is equal to {}".format(key,value))       #{} are important 1{} gives key and other{}value

name is equal to narendra
age is equal to 20
Country is equal to India

In [81]:
a=[1,2,1,2,4,5,1,9,7,8,9]
print(max(a))
print(min(a))

9
1